<!-- blog/templates/blog/post_list.html -->

{% extends 'blog/base.html' %}

{% block title %}
    Backend - Posts
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="page-header">
            <h1>
                All Posts
            </h1>
        </div>
        {% if posts %}
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Author</th>
                    <th>Published</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr {% if post.status == 'draft' %} class="table-danger" {% endif %}>
                        <td>
                            {{ post.title }}
                        </td>
                        <td>{{ post.slug }}</td>
                        <td>{{ post.author.username }}</td>
                        <td>
                            {% if post.status == 'published' %}
                                {{ post.published_date }}
                            {% else %}
                                {{ post.updated_date }}
                            {% endif %}
                        </td>
                        <td>
                            {{ post.status }}
                        </td>
                        <td>
                            <a href="{% url 'blog:edit_post' slug=post.slug %}" class="text-decoration-none">
                                Edit
                            </a><a href="{% url 'blog:delete_post' slug=post.slug %}" class="text-decoration-none">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No posts found</p>
        {% endif %}
        {% include 'blog/paginator.html' %}
    </div>
{% endblock %}