{% extends 'blog/base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
    <h1>Post List</h1>
    <div class="d-flex flex-wrap">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 mx-2">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" href="{{ post.get_absolute_url }}"
                        >{{ post.title }}</a></h5>
                        <p class="card-text">{{ post.content|truncatewords:40 }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Published by {{ post.author.username }}</li>
                        {% if post.status == 'published' %}
                        <li class="list-group-item">Published on {{ post.published_date }}</li>
                            {% else %}
                        <li class="list-group-item">Last edited on {{ post.updated_date }}</li>

                        {% endif %}
                        <li class="list-group-item">Categories:<a class="text-decoration-none" href=
                                "{{ post.category.get_absolute_url }}">
                            {{ post.category }}</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}