<!-- blog/templates/blog/post_detail.html -->

{% extends 'blog/base.html' %}

{% block description %} {{ post.seo_description }}{% endblock %}
{% block title %}{{ post.seo_title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if post.image %}
                    <img src="{{ post.image.url|safe }}" alt="{{ post.title }}" class="img-fluid mb-3"
                         style="max-width: 100%; height: auto;">
                {% endif %}
                <article>
                    <h2 class="mb-4">{{ post.title }}</h2>
                    <hr class="my-4">
                    <p class="text-muted">
                        Drafted by {{ post.author.username }} on {{ post.published_date }}
                    </p>
                    <hr class="my-4">
                    <div>
                        {{ post.content|linebreaks }}
                    </div>
                </article>

            </div>
        </div>
    </div>
{% endblock %}